[submodule "Vendor/facebook-ios-sdk"]
	path = Vendor/facebook-ios-sdk
	url = git@github.com:facebook/facebook-ios-sdk.git
	ignore = dirty
[submodule "Carthage/Checkouts/CocoaAsyncSocket"]
	path = Carthage/Checkouts/CocoaAsyncSocket
	url = git@github.com:robbiehanson/CocoaAsyncSocket.git
[submodule "Carthage/Checkouts/CocoaLumberjack"]
	path = Carthage/Checkouts/CocoaLumberjack
	url = git@github.com:CocoaLumberjack/CocoaLumberjack.git
[submodule "Carthage/Checkouts/KissXML"]
	path = Carthage/Checkouts/KissXML
	url = git@github.com:kmhwang/KissXML.git
